.square {
  float: left;
  border: 5px solid black;
  background: grey;
  height: 150px;
  width: 150px;
}

.square:hover {
  background: yellow;
}
.row {
  clear: both;
}

.x {
  background: white;
  color: blue;
  font-size: 114px;
  text-align: center;
  font-family: 'helvetica';
}

.o {
  background: white;
  color: purple;
  font-size: 114px;
  text-align: center;
  font-family: 'helvetica';
}

.group::after {
  content: "";
  display: block;
  clear: both;
}
