<h2 class="boards-index-title">My Boards</h2>

  <ul class='boards-container group'>
    <span class="boards">

    </span>
    <li class="new-board-block-container">
      Create new board...
      <div class='new-board-block'>
      </div>
    </li>
  </ul>
