<div class="board-item-container">
  <div class="board-item-content">
    <%= board.escape('title') %><br>
  </div>
  <button
    class= "delete-board"
    type="button" name="button">Delete Board
  </button>
</div>
