html, body, #main {
  height: 100%;
}

h1 {
  margin: 0;
}

ul {
  padding: 0px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

.board-item, .list {
  float: left;
  border: black 2px solid;
  border-radius: 10px;
  height: 185px;
  width: 115px;
  margin: 10px
}

.board-item {
  background: lightblue;
}

.board-item:hover{
  background: green;
}

nav.navbar {
  margin-bottom: 0px;
}

.boards-index-title{
  margin: 0 auto;
  width: 150px;
}

.new-board-block-container {
  float: left;
  border: black 2px solid;
  background: lightgrey;
  margin: 10px;
  border-radius: 10px;
  height: 185px;
  width: 115px;
  position: relative;
  .new-board-block {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    form {
      position: absolute;
      bottom: 20px;
      margin: 0px 2px;
    }
  }
}

.board-show-container {
  height: 100%;
  background: lightblue;
}

.backdrop {
  height: 100%;
}

.board-item-container{
  height: 100%;
  position: relative;
  padding: 10px;
}

.board-item-content {
  text-align: center;
  position: relative;
  height: 100%;
}

li.list {
  background: #FFFFC9;
  width: inherit;
  padding: 5px;
  height: inherit;
}

.card {
  width: 100%;
  border: black 2px solid;
  margin: 10px 0;
  border-radius: 10px;
  background: #FFF;
}

ul.list-cards {
  padding: 5px 10px;
}

#new-board-name {
  width: 100%;
}

.delete-board {
  position: absolute;
  margin: auto;
  bottom: 10px;
}

.group:after {
  content:"";
  display: block;
  clear: both;
}
