li.board-item {
  float: left;
  list-style-type: none;
  padding: 30px;
  border: black 2px solid;
  background: lightblue;
  margin: 0 10px;
  border-radius: 10px;
  height: 185px;
  width: 115px;
}

div.new-board-block {
  float: left;
  border: black 2px solid;
  background: lightgrey;
  margin: 0 10px;
  border-radius: 10px;
  height: 185px;
  width: 115px;
}

#board-name {
  width: 100%;
}
