<h2> <%= post.escape('title') %> </h1>
<p>
  <%= post.escape('body') %>
  <a href= <%= "#/posts/" + post.escape('id') + "/edit" %> >Edit</a>
  <button class="delete">Delete this Post</button>
</p>
<a href="#">All posts</a>
